---
# Configure network interfaces on all hosts

- name: Configure isolated network interface on labhost1 (static IP)
  community.general.nmcli:
    conn_name: "isolated"
    type: ethernet
    ifname: eth1
    ip4: "{{ labhost1_isolated_ip }}/24"
    method4: manual
    state: present
  when: inventory_hostname == 'labhost1.local'

- name: Set firewall zone for isolated interface on labhost1
  ansible.posix.firewalld:
    zone: "{{ isolated_zone }}"
    interface: eth1
    permanent: yes
    state: enabled
  when: inventory_hostname == 'labhost1.local'

- name: Configure isolated network interface on labhost2/3 (DHCP)
  community.general.nmcli:
    conn_name: "isolated"
    type: ethernet
    ifname: eth1
    method4: auto
    dns4:
      - "{{ dns_server }}"
    dns4_search:
      - "{{ isolated_domain }}"
    state: present
  when: inventory_hostname in ['labhost2.local', 'labhost3.local']

- name: Set firewall zone for isolated interface on labhost2/3
  ansible.posix.firewalld:
    zone: "{{ isolated_zone }}"
    interface: eth1
    permanent: yes
    state: enabled
  when: inventory_hostname in ['labhost2.local', 'labhost3.local']

- name: Ensure public interface has correct firewall zone on all hosts
  ansible.posix.firewalld:
    zone: "{{ public_zone }}"
    interface: eth0
    permanent: yes
    state: enabled

- name: Add SSH service to public zone
  ansible.posix.firewalld:
    zone: "{{ public_zone }}"
    service: ssh
    permanent: yes
    state: enabled

- name: Reload firewalld to apply changes
  ansible.builtin.systemd:
    name: firewalld
    state: reloaded

- name: Bring up isolated interface
  community.general.nmcli:
    conn_name: "isolated"
    state: up

- name: Verify isolated interface is up
  ansible.builtin.command: ip addr show eth1
  register: eth1_status
  changed_when: false

- name: Display eth1 status
  ansible.builtin.debug:
    var: eth1_status.stdout_lines
