---
# Install and configure dnsmasq for DNS/DHCP on isolated network

- name: Install dnsmasq
  ansible.builtin.dnf:
    name: dnsmasq
    state: present

- name: Backup original dnsmasq configuration
  ansible.builtin.copy:
    src: /etc/dnsmasq.conf
    dest: /etc/dnsmasq.conf.orig
    remote_src: true
    force: false
    mode: '0644'

- name: Deploy dnsmasq configuration
  ansible.builtin.template:
    src: dnsmasq.conf.j2
    dest: /etc/dnsmasq.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart dnsmasq

- name: Create dnsmasq hosts file for isolated network
  ansible.builtin.template:
    src: dnsmasq.hosts.j2
    dest: /etc/dnsmasq.hosts
    owner: root
    group: root
    mode: '0644'
  notify: Restart dnsmasq

- name: Add DNS and DHCP services to internal firewall zone
  ansible.posix.firewalld:
    zone: "{{ isolated_zone }}"
    service: "{{ item }}"
    permanent: true
    state: enabled
  loop:
    - dns
    - dhcp

- name: Reload firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: reloaded

- name: Enable and start dnsmasq
  ansible.builtin.systemd:
    name: dnsmasq
    enabled: true
    state: started
