---
# Install base packages on all hosts

- name: Install standard admin tools
  ansible.builtin.dnf:
    name:
      - "@core"
      - "@standard"
      - "@admin-tools"
      - "@system-tools"
      - git
      - vim
      - nano
      - wget
      - curl
      - htop
      - tmux
      - net-tools
      - bind-utils
    state: present
