---
# Main playbook to configure all lab hosts
# Run provision-vms.yml first to add network interfaces

- name: Initial setup - Install base packages and tools
  hosts: demoservers
  roles:
    - base_packages
    - monitoring
    - network_tools

- name: Configure gateway host (labhost1) early
  hosts: gateway
  serial: 1
  roles:
    - base_packages
    - network_tools
    - network_config
    - dnsmasq
    - nat_gateway
    - nginx

- name: Configure networking on remaining demoservers
  hosts: "demoservers:!gateway"
  roles:
    - network_config

- name: Configure GUI host (labhost3)
  hosts: guihost
  roles:
    - gui_setup
