# Static DNS entries for isolated network
# Managed by Ansible

{{ labhost1_isolated_ip }}    labhost1.{{ isolated_domain }} labhost1
{{ labhost2_isolated_ip }}    labhost2.{{ isolated_domain }} labhost2
{{ labhost3_isolated_ip }}    labhost3.{{ isolated_domain }} labhost3
